{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>

            </div>


            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Hello, world!</h1>
                    <p class="lead">Welcome to the Vodka Game Launcher, This control panel is where you manage your client builds
                    and setting the current live version will ensure that your clients will get the latest build you should maybe get started by clicking the button below
                    </p>
                    <p><a class="btn btn-success btn-lg" href="upload_build" role="button">Upload Build »</a></p>
                </div>
            </div>
</main>
{% endblock %}